@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252627;
  color: #A8ADB3;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
}

form {
  width: 350px;
  max-width: 500px;
  box-sizing: border-box;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  transition: color 0.3s ease;
}

input {
  width: 100%;
  padding: 0.6rem; 
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #A8ADB3;
  color: black;
  transition: all 0.3s ease;
}

input:focus,
input:hover {
  border: 2px solid #53b9ce;
  box-shadow: 0 0 5px #53b9ce;
  background-color: #A8ADB3;
  color: black;
  outline: none;
}

form div:hover label,
form div:focus-within label,
form div.filled label {
  color: #53b9ce;
}

.error {
  color: rgba(255, 0, 0, 0.50);
  min-height: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.success {
  color: rgba(144, 238, 144, 0.50);
  min-height: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

button {
  background-color: transparent;
  color: #A8ADB3;
  border: 1px solid #A8ADB3;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  border-color: #53b9ce;
  color: #53b9ce;
  background-color: rgba(0, 0, 0, 0.25)
}